---
name: Tests
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pip install pytest humanize
      - name: Run db_build tests
        working-directory: db_build
        run: pytest jlcparts_db_convert.py
      - name: Run core tests
        working-directory: core
        run: pytest version.py
