---
name: "Update parts database"
on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:  # allow for manually trigger workflow
jobs:
  build_and_update:
    name: "Update component database and frontend"
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            python3 python3-pip wget zip unzip p7zip-full sqlite3
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
      - name: Free more Space, Found in https://github.com/actions/runner-images/issues/2840#issuecomment-790492173
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Show versions
        run: |
          sqlite3 --version
          python3 --version
          python3 -c "import sqlite3; import pprint; db = sqlite3.connect(':memory:'); cursor = db.execute('PRAGMA COMPILE_OPTIONS'); pprint.pprint(cursor.fetchall())"
      - name: Install python dependencies
        run: |
          pip install humanize
          pip install -e .
      - name: Update database
        run: |
          set -x

          # Print the current disk usage, might help with future "no disk space left" issues
          echo "============================================================================================================================="
          df -h
          echo "============================================================================================================================="

          cd db_build

          # fetch the cached database
          python3 jlcparts_db_convert.py \
              --fetch-components-db \
              --update-components-db \
              --clean-components-db \
              --components-db-base-url=http://z2amiller.github.io/kicad-jlcpcb-tools \
              --archive-components-db \
              --obsolete-parts-threshold-days=365

          # remove the raw source db, as we don't want to package that one
          rm db_working/cache.sqlite3
          # some info output for sanity check
          ls -lah db_working
          du -cslh db_working

          # Print the current disk usage, might help with future "no disk space left" issues
          echo "============================================================================================================================="
          df -h
          echo "============================================================================================================================="

      - name: Upload all-item parts db
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: db_build/archive
  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    needs: build_and_update
    permissions:
      actions: write
      contents: write
      pages: write
      id-token: write
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      # delete-artifact
      - name: Clean
        uses: geekyeggo/delete-artifact@v4
        with:
          name: github-pages
